USE [master]
GO
/****** Object:  Database [QLHIEUTHUOC]    Script Date: 4/21/2025 5:32:23 PM ******/
CREATE DATABASE [QLHIEUTHUOC]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLHIEUTHUOC', FILENAME = N'D:\HequantriCSDL\QLHIEUTHUOC.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLHIEUTHUOC_log', FILENAME = N'D:\HequantriCSDL\QLHIEUTHUOC_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLHIEUTHUOC].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLHIEUTHUOC]
GO
/****** Object:  Table [dbo].[Chi_tiet_phieu_nhap]    Script Date: 4/21/2025 5:32:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Chi_tiet_phieu_nhap](
	[ID_PN] [varchar](10) NOT NULL,
	[MASP] [varchar](10) NOT NULL,
	[SoLuong] [int] NULL,
 CONSTRAINT [PK_Chi_tiet_phieu_nhap] PRIMARY KEY CLUSTERED 
(
	[ID_PN] ASC,
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Chi_tiet_phieu_xuat]    Script Date: 4/21/2025 5:32:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Chi_tiet_phieu_xuat](
	[SO_PX] [int] NOT NULL,
	[MASP] [varchar](10) NOT NULL,
	[SOLUONG] [varchar](10) NULL,
	[DONGIA] [money] NULL,
 CONSTRAINT [PK_Chi_tiet_phieu_xuat] PRIMARY KEY CLUSTERED 
(
	[SO_PX] ASC,
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACH_HANG]    Script Date: 4/21/2025 5:32:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACH_HANG](
	[MAKH] [varchar](10) NOT NULL,
	[TenKH] [nvarchar](50) NULL,
	[Dia_chi] [nvarchar](50) NULL,
	[SDT] [int] NULL,
 CONSTRAINT [PK_KHACH_HANG] PRIMARY KEY CLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOG]    Script Date: 4/21/2025 5:32:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOG](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_PX] [int] NULL,
	[TONGTIEN] [money] NULL,
	[TIME] [datetime] NULL,
	[CANHBAO] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHA_CUNG_CAP]    Script Date: 4/21/2025 5:32:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHA_CUNG_CAP](
	[MANCC] [varchar](10) NOT NULL,
	[TenNCC] [nvarchar](50) NULL,
	[Dia_chi] [nvarchar](50) NULL,
	[SDT] [int] NULL,
 CONSTRAINT [PK_NHA_CUNG_CAP] PRIMARY KEY CLUSTERED 
(
	[MANCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHAN_VIEN]    Script Date: 4/21/2025 5:32:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHAN_VIEN](
	[MaNV] [varchar](10) NOT NULL,
	[TenNV] [nvarchar](50) NULL,
	[chucvu] [nvarchar](50) NULL,
 CONSTRAINT [PK_NHAN_VIEN] PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEU_NHAP]    Script Date: 4/21/2025 5:32:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEU_NHAP](
	[ID_PN] [varchar](10) NOT NULL,
	[ngay_nhap] [date] NULL,
	[MaNCC] [varchar](10) NULL,
	[MANV] [varchar](10) NULL,
 CONSTRAINT [PK_PHIEU_NHAP] PRIMARY KEY CLUSTERED 
(
	[ID_PN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEU_XUAT]    Script Date: 4/21/2025 5:32:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEU_XUAT](
	[ID_PX] [int] NOT NULL,
	[ngay_xuat] [date] NULL,
	[MAKH] [varchar](10) NULL,
	[MANV] [varchar](10) NULL,
 CONSTRAINT [PK_PHIEU_XUAT] PRIMARY KEY CLUSTERED 
(
	[ID_PX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SAN_PHAM]    Script Date: 4/21/2025 5:32:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SAN_PHAM](
	[MaSP] [varchar](10) NOT NULL,
	[TenSP] [nvarchar](50) NULL,
	[DVT] [varchar](50) NULL,
 CONSTRAINT [PK_SAN_PHAM] PRIMARY KEY CLUSTERED 
(
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Chi_tiet_phieu_nhap] ([ID_PN], [MASP], [SoLuong]) VALUES (N'1', N'K01', 500)
INSERT [dbo].[Chi_tiet_phieu_nhap] ([ID_PN], [MASP], [SoLuong]) VALUES (N'2', N'K42', 1000)
INSERT [dbo].[Chi_tiet_phieu_nhap] ([ID_PN], [MASP], [SoLuong]) VALUES (N'3', N'K48', 800)
GO
INSERT [dbo].[Chi_tiet_phieu_xuat] ([SO_PX], [MASP], [SOLUONG], [DONGIA]) VALUES (1, N'K01', N'100', 120000.0000)
INSERT [dbo].[Chi_tiet_phieu_xuat] ([SO_PX], [MASP], [SOLUONG], [DONGIA]) VALUES (2, N'K42', N'150', 100000.0000)
INSERT [dbo].[Chi_tiet_phieu_xuat] ([SO_PX], [MASP], [SOLUONG], [DONGIA]) VALUES (3, N'K48', N'50', 200000.0000)
GO
INSERT [dbo].[KHACH_HANG] ([MAKH], [TenKH], [Dia_chi], [SDT]) VALUES (N'KH01', N'Nguyen Van Hoan', N'P.Phan Đình Phùng,TP.Thái Nguyên', 925267784)
INSERT [dbo].[KHACH_HANG] ([MAKH], [TenKH], [Dia_chi], [SDT]) VALUES (N'KH02', N'Hoàng Thi Xuan Trang', N'P.Tân Lập,TP.Thái Nguyên', 644435678)
INSERT [dbo].[KHACH_HANG] ([MAKH], [TenKH], [Dia_chi], [SDT]) VALUES (N'KH03', N'Nguyen Thi Linh', N'P.Tích Lương,TP.Thái Nguyên', 992932567)
GO
SET IDENTITY_INSERT [dbo].[LOG] ON 

INSERT [dbo].[LOG] ([ID], [ID_PX], [TONGTIEN], [TIME], [CANHBAO]) VALUES (32, 1, 12000000.0000, CAST(N'2025-04-21T14:14:27.913' AS DateTime), N'Phiếu xuất số 1 có tổng tiền vượt quá 10000000.00 VNĐ')
INSERT [dbo].[LOG] ([ID], [ID_PX], [TONGTIEN], [TIME], [CANHBAO]) VALUES (33, 2, 15000000.0000, CAST(N'2025-04-21T14:14:27.913' AS DateTime), N'Phiếu xuất số 2 có tổng tiền vượt quá 10000000.00 VNĐ')
SET IDENTITY_INSERT [dbo].[LOG] OFF
GO
INSERT [dbo].[NHA_CUNG_CAP] ([MANCC], [TenNCC], [Dia_chi], [SDT]) VALUES (N'NCC01', N'Công ty TNHH Tứ', N'Q.HoanKiem,TP.HaNoi', 362573225)
INSERT [dbo].[NHA_CUNG_CAP] ([MANCC], [TenNCC], [Dia_chi], [SDT]) VALUES (N'NCC02', N'Công ty TNHH Tinh Tú', N'Q1,TP.HCM', 992522567)
INSERT [dbo].[NHA_CUNG_CAP] ([MANCC], [TenNCC], [Dia_chi], [SDT]) VALUES (N'NCC03', N'Công ty TNHH Đông Á', N'Cầu giấy,TP.Hà Nội', 235367713)
GO
INSERT [dbo].[NHAN_VIEN] ([MaNV], [TenNV], [chucvu]) VALUES (N'MNV01', N'Nguyen Van Hoan', N'Ke toan kho')
INSERT [dbo].[NHAN_VIEN] ([MaNV], [TenNV], [chucvu]) VALUES (N'MNV02', N'Ngô Thị Thùy Linh', N'Duoc si')
INSERT [dbo].[NHAN_VIEN] ([MaNV], [TenNV], [chucvu]) VALUES (N'MNV03', N'Triệu Tra My', N'Ke toan trưởng')
GO
INSERT [dbo].[PHIEU_NHAP] ([ID_PN], [ngay_nhap], [MaNCC], [MANV]) VALUES (N'1', CAST(N'2025-04-17' AS Date), N'NCC01', N'MNV01')
INSERT [dbo].[PHIEU_NHAP] ([ID_PN], [ngay_nhap], [MaNCC], [MANV]) VALUES (N'2', CAST(N'2025-04-16' AS Date), N'NCC02', N'MNV02')
INSERT [dbo].[PHIEU_NHAP] ([ID_PN], [ngay_nhap], [MaNCC], [MANV]) VALUES (N'3', CAST(N'2025-04-15' AS Date), N'NCC03', N'MNV03')
GO
INSERT [dbo].[PHIEU_XUAT] ([ID_PX], [ngay_xuat], [MAKH], [MANV]) VALUES (1, CAST(N'2025-04-17' AS Date), N'KH01', N'MNV01')
INSERT [dbo].[PHIEU_XUAT] ([ID_PX], [ngay_xuat], [MAKH], [MANV]) VALUES (2, CAST(N'2025-03-19' AS Date), N'KH02', N'MNV02')
INSERT [dbo].[PHIEU_XUAT] ([ID_PX], [ngay_xuat], [MAKH], [MANV]) VALUES (3, CAST(N'2025-04-16' AS Date), N'KH03', N'MNV03')
GO
INSERT [dbo].[SAN_PHAM] ([MaSP], [TenSP], [DVT]) VALUES (N'K01', N'Paracetamol 500mg', N'Vi')
INSERT [dbo].[SAN_PHAM] ([MaSP], [TenSP], [DVT]) VALUES (N'K42', N'Toner VMAX MC22', N'chai')
INSERT [dbo].[SAN_PHAM] ([MaSP], [TenSP], [DVT]) VALUES (N'K48', N'Nẹp Cẳng tay dai Tyspot', N'Cái')
GO
ALTER TABLE [dbo].[Chi_tiet_phieu_nhap]  WITH CHECK ADD  CONSTRAINT [FK_Chi_tiet_phieu_nhap_PHIEU_NHAP] FOREIGN KEY([ID_PN])
REFERENCES [dbo].[PHIEU_NHAP] ([ID_PN])
GO
ALTER TABLE [dbo].[Chi_tiet_phieu_nhap] CHECK CONSTRAINT [FK_Chi_tiet_phieu_nhap_PHIEU_NHAP]
GO
ALTER TABLE [dbo].[Chi_tiet_phieu_nhap]  WITH CHECK ADD  CONSTRAINT [FK_Chi_tiet_phieu_nhap_SAN_PHAM] FOREIGN KEY([MASP])
REFERENCES [dbo].[SAN_PHAM] ([MaSP])
GO
ALTER TABLE [dbo].[Chi_tiet_phieu_nhap] CHECK CONSTRAINT [FK_Chi_tiet_phieu_nhap_SAN_PHAM]
GO
ALTER TABLE [dbo].[Chi_tiet_phieu_xuat]  WITH CHECK ADD  CONSTRAINT [FK_Chi_tiet_phieu_xuat_PHIEU_XUAT] FOREIGN KEY([SO_PX])
REFERENCES [dbo].[PHIEU_XUAT] ([ID_PX])
GO
ALTER TABLE [dbo].[Chi_tiet_phieu_xuat] CHECK CONSTRAINT [FK_Chi_tiet_phieu_xuat_PHIEU_XUAT]
GO
ALTER TABLE [dbo].[Chi_tiet_phieu_xuat]  WITH CHECK ADD  CONSTRAINT [FK_Chi_tiet_phieu_xuat_SAN_PHAM] FOREIGN KEY([MASP])
REFERENCES [dbo].[SAN_PHAM] ([MaSP])
GO
ALTER TABLE [dbo].[Chi_tiet_phieu_xuat] CHECK CONSTRAINT [FK_Chi_tiet_phieu_xuat_SAN_PHAM]
GO
ALTER TABLE [dbo].[PHIEU_NHAP]  WITH CHECK ADD  CONSTRAINT [FK_PHIEU_NHAP_NHA_CUNG_CAP] FOREIGN KEY([MaNCC])
REFERENCES [dbo].[NHA_CUNG_CAP] ([MANCC])
GO
ALTER TABLE [dbo].[PHIEU_NHAP] CHECK CONSTRAINT [FK_PHIEU_NHAP_NHA_CUNG_CAP]
GO
ALTER TABLE [dbo].[PHIEU_NHAP]  WITH CHECK ADD  CONSTRAINT [FK_PHIEU_NHAP_NHAN_VIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHAN_VIEN] ([MaNV])
GO
ALTER TABLE [dbo].[PHIEU_NHAP] CHECK CONSTRAINT [FK_PHIEU_NHAP_NHAN_VIEN]
GO
ALTER TABLE [dbo].[PHIEU_XUAT]  WITH CHECK ADD  CONSTRAINT [FK_PHIEU_XUAT_KHACH_HANG] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACH_HANG] ([MAKH])
GO
ALTER TABLE [dbo].[PHIEU_XUAT] CHECK CONSTRAINT [FK_PHIEU_XUAT_KHACH_HANG]
GO
ALTER TABLE [dbo].[PHIEU_XUAT]  WITH CHECK ADD  CONSTRAINT [FK_PHIEU_XUAT_NHAN_VIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHAN_VIEN] ([MaNV])
GO
ALTER TABLE [dbo].[PHIEU_XUAT] CHECK CONSTRAINT [FK_PHIEU_XUAT_NHAN_VIEN]
GO
ALTER TABLE [dbo].[KHACH_HANG]  WITH CHECK ADD  CONSTRAINT [CK_MAKH] CHECK  (([MAKH]>='KH01'))
GO
ALTER TABLE [dbo].[KHACH_HANG] CHECK CONSTRAINT [CK_MAKH]
GO
ALTER TABLE [dbo].[NHA_CUNG_CAP]  WITH CHECK ADD  CONSTRAINT [CK_MANCC] CHECK  (([MANCC]>='NCC01'))
GO
ALTER TABLE [dbo].[NHA_CUNG_CAP] CHECK CONSTRAINT [CK_MANCC]
GO
ALTER TABLE [dbo].[NHAN_VIEN]  WITH CHECK ADD  CONSTRAINT [CK_MANV] CHECK  (([MANV]>='MNV01'))
GO
ALTER TABLE [dbo].[NHAN_VIEN] CHECK CONSTRAINT [CK_MANV]
GO
ALTER TABLE [dbo].[PHIEU_NHAP]  WITH CHECK ADD  CONSTRAINT [CK_Ngay_nhap] CHECK  (([Ngay_nhap]<=getdate()))
GO
ALTER TABLE [dbo].[PHIEU_NHAP] CHECK CONSTRAINT [CK_Ngay_nhap]
GO
ALTER TABLE [dbo].[PHIEU_XUAT]  WITH CHECK ADD  CONSTRAINT [CK_ngay_xuat] CHECK  (([ngay_xuat]<=getdate()))
GO
ALTER TABLE [dbo].[PHIEU_XUAT] CHECK CONSTRAINT [CK_ngay_xuat]
GO
ALTER TABLE [dbo].[SAN_PHAM]  WITH CHECK ADD  CONSTRAINT [CK_MASP] CHECK  (([MASP]>='K01'))
GO
ALTER TABLE [dbo].[SAN_PHAM] CHECK CONSTRAINT [CK_MASP]
GO
/****** Object:  Trigger [dbo].[TR_CanhBaoTienVuot]    Script Date: 4/21/2025 5:32:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Nguyen Thi Linh
-- Create date: 2025-04-21
-- Description:	Tinh tong tien
--				Canh bao tien vuot >10tr
-- =============================================
CREATE   TRIGGER [dbo].[TR_CanhBaoTienVuot]
ON [dbo].[Chi_tiet_phieu_xuat]
AFTER INSERT, UPDATE, DELETE
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @NGUONG MONEY = 10000000;

    ;WITH ALL_PX AS (
        SELECT SO_PX FROM INSERTED
        UNION
        SELECT SO_PX FROM DELETED
    ),
    TONG_TIEN AS (
        SELECT 
            CT.SO_PX AS ID_PX,
            SUM(CT.SOLUONG * CT.DONGIA) AS TONGTIEN
        FROM CHI_TIET_PHIEU_XUAT CT
        INNER JOIN ALL_PX I ON CT.SO_PX = I.SO_PX
        GROUP BY CT.SO_PX
    )
    INSERT INTO LOG(ID_PX, TONGTIEN, TIME, CANHBAO)
    SELECT 
        T.ID_PX,
        T.TONGTIEN,
        GETDATE(),
        N'Phiếu xuất số ' + CAST(T.ID_PX AS NVARCHAR) + N' có tổng tiền vượt quá ' + FORMAT(@NGUONG, '#,0') + N' VNĐ'
    FROM TONG_TIEN T
    WHERE T.TONGTIEN > @NGUONG
      AND NOT EXISTS (
          SELECT 1 FROM LOG L 
          WHERE L.ID_PX = T.ID_PX 
          AND L.CANHBAO LIKE N'%tổng tiền vượt quá%'
      );
END;
GO
ALTER TABLE [dbo].[Chi_tiet_phieu_xuat] ENABLE TRIGGER [TR_CanhBaoTienVuot]
GO
/****** Object:  Trigger [dbo].[TR_TinhTongTien]    Script Date: 4/21/2025 5:32:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Nguyen Thi Linh
-- Create date: 2025-04-21
-- Description: tính tổng so tien
--				Cảnh báo tiền>10tr
-- =============================================
CREATE TRIGGER [dbo].[TR_TinhTongTien]
ON [dbo].[Chi_tiet_phieu_xuat]
AFTER INSERT, UPDATE, DELETE
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @PXs TABLE(ID_PX INT);

    INSERT INTO @PXs(ID_PX)
    SELECT SO_PX FROM INSERTED
    UNION
    SELECT SO_PX FROM DELETED;

    -- Tính tổng tiền cho các phiếu xuất bị ảnh hưởng
    -- (Sử dụng như 1 trường phi chuẩn)
    SELECT CT.SO_PX, SUM(CT.SOLUONG * CT.DONGIA) AS TongTien
    INTO #TongTienPX
    FROM CHI_TIET_PHIEU_XUAT CT
    JOIN @PXs PX ON CT.SO_PX = PX.ID_PX
    GROUP BY CT.SO_PX;

    -- Có thể dùng dữ liệu này để phục vụ cho nhiều mục tiêu khác nhau
    -- VD: cập nhật bảng log, gọi hàm xử lý,...
END
GO
ALTER TABLE [dbo].[Chi_tiet_phieu_xuat] ENABLE TRIGGER [TR_TinhTongTien]
GO
USE [master]
GO
